.list-container{
    list-style-type: none;
    display: flex;
}
ul{
    padding: 0;
}
li{
    margin: 10px;
    color: white;
}
.bg-salmon {
    background-color: salmon;
    color: white;
  }
  
.item-light {
    transition: color 0.2s ease-in-out;
    border-bottom: 4px solid #F65261;
}