.select-label-text{
    font-weight: 400;
    font-size: 16px;
    color: #E4E4E4;
}
.select-component{
    margin-left: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #FFFFFF
}